<div ng-show="gamen">
    <form name="formName" novalidate>

        <div>テキストボックス</div>
        <input type="text" value="aaaa" ng-model="text" ng-maxlength="10" required name="texterror">
        <div ng-messages="formName.texterror.$error" ng-if='formName.texterror.$dirty'>
            <div ng-message="required"> 入力してください。</div>
            <div ng-message="maxlength"> 10もじ。</div>
        </div>

        <div>メールアドレス</div>
        <input type="email" ng-model="email" ng-maxlength="210" required name="mail" required>
        <div ng-messages="formName.mail.$error" ng-if='formName.mail.$dirty'>
            <div ng-message="required"> 入力してください。</div>
            <div ng-message="maxlength"> 210もじ。</div>
        </div>


        <div>テキストエリア</div>
        <textarea ng-model="textarea">dddd</textarea>

        <div>チェックボックス</div>
        <div>
            <input type="checkbox" id="checkbox1" ng-model="check1" ng-true-value="'checkTest1'" ng-false-value="''">
            <label for="checkbox1">check1</label>
        </div>

        <div>
            <input type="checkbox" id="checkbox2" ng-model="check2" ng-true-value="'checkTest2'" ng-false-value="''">
            <label for="checkbox2">check2</label>
        </div>

        <div>ラジオボタン</div>
        <input type="radio" id="radio1m" value="radio1" name="group" ng-model="radio">
        <label for="radio1m">radio1</label>
        <br>
        <input type="radio" id="radio2m" value="radio2" name="group" ng-model="radio">
        <label for="radio2m">radio2</label>
        <br>
        <input type="radio" id="radio3m" value="radio3" name="group" ng-model="radio">
        <label for="radio3m">radio3</label>
        <br>

        <select ng-model="select" ng-options="select for select in selects">
            <option value=''>未選択</option>
        </select>

        <br>
        <input ng-disabled="formName.$invalid" type="button" value="登録" ng-click="click()">

    </form>
</div>
