    <div ng-show="gamen">

        <div>テキストボックス</div>
        <input type="text" value="aaaa" ng-model="text" ng-maxlength="36">

        <div>テキストエリア</div>
        <textarea ng-model="textarea">dddd</textarea>

        <div>チェックボックス</div>
        <div>
            <input type="checkbox" id="checkbox1" ng-model="check1" ng-true-value="'checkTest1'" ng-false-value="''">
            <label for="checkbox1">check1</label>
        </div>

        <div>
            <input type="checkbox" id="checkbox2" ng-model="check2" ng-true-value="'checkTest2'" ng-false-value="''">
            <label for="checkbox2">check2</label>
        </div>

        <div>ラジオボタン</div>
        <input type="radio" id="radio1m" value="radio1" name="group" ng-model="radio">
        <label for="radio1m">radio1</label>
        <br>
        <input type="radio" id="radio2m" value="radio2" name="group" ng-model="radio">
        <label for="radio2m">radio2</label>
        <br>
        <input type="radio" id="radio3m" value="radio3" name="group" ng-model="radio">
        <label for="radio3m">radio3</label>
        <br>

        <select ng-model="select" ng-options="select for select in selects">
            <option value=''>未選択</option>
        </select>

        <br>
        <input type="button" value="登録" ng-click="click()">
    </div>
