doctype html
html
    head
    body
        div
            div(style="background:#e8e8e8 url('');font-family:'segoe ui',calibri,helvetica,arial;padding:50px 0;text-align:center", align='center')
                div(style='margin:0 auto;padding:30px 0 15px;width:540px')
                    img(width='130', src='')
                div(style='background:#ffffff;border-radius:4px;border:1px solid #d4d4d4;font-size:14px;margin:0 auto;text-align:left;width:540px', align='left')
                    div(style='color:#222;margin:0 auto;padding:40px 0;width:460px')
                        img(src='')
                        br
                        br
                        div notation
                        br
                        br
                        | NOTATION!
                        br
                        br
                        table
                            tbody
                                tr
                                    td(valign='top')
                                        img.CToWUd(style='border-radius:5px;width:50px', src='')
                                    td(valign='top')
                                        div(style="font-family:'segoe ui',calibri,helvetica,arial;font-size:14px;line-height:130%;padding-left:7px")
                                            | NAME
                                            br
                                            | AAAAA
                div(style='font-size:12px;margin:10px auto;text-align:center;width:540px', align='center')
                    span(style='color:#888888;margin-top:3px;text-decoration:none')
                        span
                            a(href='',style='color:#888888;margin-left:10px;text-decoration:none', target='_blank', data-saferedirecturl='') COMPANY NAME

